/* font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif; */

* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

.top_menu {
    padding-top: 16px;
    padding-bottom: 16px;
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #D94343;
    margin-left: 53px;
}

/* main INTRO*/

.intro {
    background: url(../img/intro_bg.jpg) no-repeat center;
    background-size: cover;
    /* height: 544px; */
    color: #fff;
    text-align: center;
    margin-bottom: 120px;
}

.intro__first-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: light;
    line-height: 30px;
    letter-spacing: 3vh;
    text-transform: uppercase;

    padding: 140px 0 45px;
}

.intro__title {
    font-size: 55px;
    line-height: 60px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    letter-spacing: 6px;

    margin-bottom: 45px;
}

.intro__subtitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: light;
    line-height: 30px;
    letter-spacing: 0.8vh;
    text-transform: uppercase;
    margin-bottom: 45px;
}

.intro__btn {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    padding: 21px 56px;
    margin-bottom: 90px;
    /* outline: none; */
    border: 2px solid #fff;
    /* overflow: hidden; */
    transition: .9s all;
}

.intro__btn:hover {
    color: yellow;
    background-color: rgb(43, 9, 9);
}

/* main CATEGORIES */

.categories {
    text-align: center;
    margin-bottom: 120px;
}

.section__title {
    font-size: 40px;
    line-height: 40px;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: 300;
    color: #333333;
    margin-bottom: 120px;
}

/* .categories::before {
    content: '';
    width: 115px;
    height: 3px;
    display: block;
    background-color: #DC0000;
    position: absolute;
    top: 695px;
    left: 730px;
    
}

.categories::after {
    content: '';
    width: 115px;
    height: 3px;
    display: block;
    background-color: #DC0000;
    position: absolute;
    top: 825px;
    left: 730px;
} */

.categories__card {
    position: relative;
}

.categories__link {
    position: absolute;
    top: calc(100% - 50%);
    left: calc(100% - 60%);
    font-size: 40px;
    color: #fff;
    text-decoration: none;
}

.center2 {
    position: absolute;
    top: calc(100% - 50%);
    left: calc(100% - 65%);
}

.center3 {
    position: absolute;
    top: calc(100% - 50%);
    left: calc(100% - 70%);
}

/* main BLOG */

.blog {
    text-align: center;
    margin-bottom: 120px;
}

/* .blog::before {
    content: '';
    width: 115px;
    height: 3px;
    display: block;
    background-color: #DC0000;
    position: absolute;
    top: 1485px;
    left: 730px;
    
}

.blog::after {
    content: '';
    width: 115px;
    height: 3px;
    display: block;
    background-color: #DC0000;
    position: absolute;
    top: 1612px;
    left: 730px;
} */

.blog__card-body {
    text-align: left;
    font-family: 'Lato', sans-serif;
}

.blog__card-title {
    margin-top: 20px;
    color: #DC0000;
    font-size: 22px;
    line-height: 26.4px;
    font-weight: 700;
}

.autor {
    font-size: 18px;
    line-height: 21.6px;
    color: #333333;
}

.blog__card-text {
    font-size: 18px;
    line-height: 21.6px;
    color: #9A9A9A;
}

.blog__btn {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 4px 25px;
    border: 1px solid #333333;
    color: #333333;
}

/* FOOTER */

.footer {
    position: relative;
}

.footer__copy {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
    color: #fff;
    position: absolute;
    top: 80px;
    left: 140px;
}

/* MEDIA */

@media(max-width: 400px) {
    .intro {
        margin-bottom: 40px;
    }
    .intro__first-text {
        letter-spacing: 1.5vh;
    }
    .intro__subtitle {
        font-size: 23px;
        line-height: 30px;
        letter-spacing: 0.8vh;
        text-transform: uppercase;
        margin-bottom: 45px;
        text-align: center;
    }

    /* CATEGORIES */
    .section__title {
        margin-bottom: 40px;
    }
    .categories__card {
        margin-bottom: 10px;
    }
    /* BLOG */
    .blog {
        margin-bottom: 10px;
    }
    .blog__card {
        margin-bottom: 40px;
    }
    .footer {
        position: relative;
    }
    .footer__copy {
        position: absolute;
        top: 8px;
        left: 16px;
    }
}